.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
  border: 2px solid #333;
}

.square {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;      
  justify-content: center;
}

.light {
  background-color: #f0d9b5;
}

.dark {
  background-color: #b58863;
}

.piece {
  font-size: 48px;
  cursor: default;
  user-select: none;
}

/* .selected {
  outline: 3px solid #92b89d;
  outline-offset: -3px;
} */

.selected {
  box-shadow: inset 0 0 0 3px #70706f; /* yellow highlight for selected piece */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.possible {
  box-shadow: inset 0 0 0 3px rgba(58, 203, 58, 0.7);
  background-color: none;
}

.kingCheck {
  box-shadow: inset 0 0 0 3px rgba(224, 0, 0, 0.7);
  background-color: none;
}